.grid__body {
  grid-template: [row-1] 1fr [row-2] 2fr [last-row]/[column-1] 1fr [column-2] 2fr [column-3] 3fr [last-column];
  grid-auto-flow: row dense;
  gap: 10px;
}
.grid__item_1 {
  background-color: #0f2655;
  grid-area: block1;
  grid-area: row-1 / column-1 / row-2 / last-column;
}
.grid__item_2 {
  background-color: #550f50;
  grid-column: 2 / 3;
}
.grid__item_3 {
  background-color: #9fa32f;
}
.grid__item_4 {
  background-color: #45550f;
  grid-row: row-2 / last-row;
}
.grid__item_5 {
  grid-row: row-2 / last-row;
  grid-column: column-3 / last-column;
  background-color: #0f5550;
}
.grid__item_6 {
  background-color: #550f20;
  grid-column: column-2 / last-column;
}
